/* ==========================================================================
  CSS for Keynote Extractor site
  Using bare CSS here, no SCSS or anything like that. KISS baby
   ========================================================================== */

/* ==========================================================================
  Base - Unclassed
   ========================================================================== */

html {
  font-size: 55.5%;
}

@media (min-width: 800px) {
 
  html {
    font-size: 62.5%;
  }
 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  background: #FFF;
  color: #333;
  font-size: 1.6rem;
}

hr {
  background: none;
  margin: 2rem 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #CCC;
}

footer {
  border-top: 1px solid #CCC;
  padding: 4rem 0 0;
  margin: 4rem 0;
  color: #999;
  font-size: 11px;
}

footer img {
  width: 1.6rem;
  position: relative;
  top: 3px;
  opacity: 0.45;
}

footer.home {
  padding: 0;
  margin: 4em 0;
  border: none;
}

footer a {
  color: #999;
}

h1, h2, h3 {
  margin: 0;
  color: #000;
  font-weight: 500;
}

a {
  color: #0D58A2;
}

a {
  color: purple;
}

img, video {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 90%;
  color: #666;
}

#home-header {
  margin: 2rem 0;
}

#main-nav {
  text-align: center;
  padding: 0 0 1rem;
  border-bottom: 1px solid #CCC;
}

#main-nav a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
}

#main-nav a.active {
  background: #F0F0F0;
  border-radius: 5px;
}

/*
  Screen container (home page)
*/

#screen-container {
  border-radius: 5px;
  background: linear-gradient(#47a3de, #0079c5 );
  position: relative;
  max-width: 60rem;
  display: flex;
  align-items: center;
}

#screen-container img{
  display: block;
  margin: 3rem auto 0;
  max-width: 100%;
}

/*
  App icon
*/

#app-icon {
  margin: 0 auto;
  padding: 4rem 0 0;
}

#app-icon img {
  max-width: 11rem;
}

/*
  Typographic styling 
*/

.lead {
  margin: 0;
  font-size: 140%;
  color: #999;
}

.date {
  color: #999;
}

/*
  Layout objects
*/

/*
  Container
*/

.container {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto;
}

/*
  Article
*/

.article header h2,
.article header p {
  margin: 0;
  padding: 0;
}

.article-content p:first-child {
  margin-top: 1rem;
  padding-top: 0;
}

/*
  Article list
*/

.article-list .article {
    margin: 0 0 4rem;
}

/*
  Buttons
*/

a.button {
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

a.button:hover {
  transition: 0.18s background ease-in-out;
}

a.button-primary {
  background: #0D58A2;
  color: #FFF;
}

a.button-secondary {
  background: #F6F5F8;
  color: #333;
}

a.button-primary:hover,
a.button-primary:active,
a.button-primary:focus {
  background: #093B6C;
  color: #FFF;
}

/*
  Presentation list 
*/

.presentation-list li {
  margin-bottom: 0.5rem;
}

.presentation-list p {
  margin: 0;
}

/*
  Utilities 
*/

.u-align-center {
  text-align: center;
}

/*
  Video
*/

.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

video {
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  border: 3px solid #FFF;
}

pre {
  background: #F1F5FA;
}

/*
  Message
*/

.message {
  background: #F0F0F0;
  border-radius: 5px;
  color: #999;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 13px;
  margin: 1rem 0;
}

.message a {
  color: #666;
}

/*
  Component: table
  ---
  A data table
*/

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  padding: 1rem;
  border-bottom: 1px solid #DDD;
}

.table th {
  text-align: left;
  border-bottom-width: 2px;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
  border: none;
}


.page-header {
  margin: 4rem 0;
}