/* Apparently you need to add this to fix Flexbox in Firefox */
* {
  min-height: 0;
  min-width: 0;
}

/* ==========================================================================
  Keynote extractor website
   ========================================================================== */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SF UI Display", "SF UI Text", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background: #FFF;
  font-size: 0.9em;
}

@media (min-width: 800px) {

  body {
    font-size: 1.1em;
  }
}

/* Layout scaffolding
   ========================================================================== */

.inner {
  max-width: 980px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.center-max-width {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* Base
   ========================================================================== */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Download
   ========================================================================== */

.mas-download-btn {
  width: 215px;
}

.ta-center .mas-download-btn {
  margin: 0 auto;
}

/* Typography
   ========================================================================== */

h1, h2, h3 {
  color: #000;
  line-height: 1.2;
}


h1, h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 0.5em;
}

@media (min-width: 800px) {

  h1, h2 {
    font-size: 2.72em;
  }


}

/* Sections
   ========================================================================== */

.section {
  padding: 1.5em 0;
}


@media (min-width: 800px) {

  .section {
    padding: 4em 0;
  }

}

.section-alt {
  background: #E3E6EA;
}

.section-alt-2 {
  background: #C6CDD5;
}

/* Header
   ========================================================================== */

#header {
  padding: 4em 0;
}

/* Feature
   ========================================================================== */

@media (min-width: 800px) {

  .feature {
    display: flex;
    align-items: center;
  }
  
  .feature-screenshot {
    margin: 0 2em 0 0;
    flex-basis: 40%;
  }
  
  .feature-copy {
    flex-basis: 60%;
  }
  
  #header .feature {
    flex-direction: row-reverse;
  }
  
  .section-white .feature {
    flex-direction: row-reverse;
  }
  
  #header .feature-screenshot,
  .section-white .feature-screenshot {
    margin: 0 0 0 2em;
  }

  .section-white {
    padding-bottom: 0;
  }

}

.section-alt-2 p:first-child {
  font-size: 1.3em;
}

/* Footer
   ========================================================================== */

#footer .inner {
  display: flex;
}

#footer p {
  flex-grow: 1;
}

#footer img {
  float: right;
}

/* Utilities 
   ========================================================================== */

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}