.c-brand-icon {
    position: relative;
    left: 12px;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    @include margin-bottom(2);
}

    .c-brand-icon__badge,
    .c-brand-icon__export-one,
    .c-brand-icon__export-two,
    .c-brand-icon__export-three {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 200px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200px 200px;
    }


    .c-brand-icon__badge {
        background-image: url('../img/animation-badge.png');
    }

    .c-brand-icon__export-one {
        background-image: url('../img/animation-export-one.png');
    }

    .c-brand-icon__export-two {
        background-image: url('../img/animation-export-two.png');
    }

    .c-brand-icon__export-three {
        background-image: url('../img/animation-export-three.png');
    }

    .c-brand-icon-small {
        position: relative;
        top: -5px;
        display: block;
        width: 125px;
        height: 125px;
        overflow: hidden;
        @include margin-bottom(2);
    }

        .c-brand-icon-small__badge,
        .c-brand-icon-small__export-one,
        .c-brand-icon-small__export-two,
        .c-brand-icon-small__export-three {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 125px;
            height: 125px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 125px 125px;
        }


        .c-brand-icon-small__badge {
            background-image: url('../img/animation-badge.png');
        }

        .c-brand-icon-small__export-one {
            background-image: url('../img/animation-export-one.png');
        }

        .c-brand-icon-small__export-two {
            background-image: url('../img/animation-export-two.png');
        }

        .c-brand-icon-small__export-three {
            background-image: url('../img/animation-export-three.png');
        }

.c-brand-company {
    display: block;
    width: 103px;
    height: 35px;
    background-image: url('../img/mono@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 103px 35px;

    @include hide-text;
}

.c-brand-color {
    color: palette(color-alpha);
}
