.c-row {
    @include padding-lr(3,3);
}

.c-row--padding {
    @include padding-tb(3,3);
}

.c-row--padding-top {
    @include padding-tb(4,3);

    @include mq(bp4) {
        @include padding-tb(5,3);
    }
}

.c-row--alpha {
    background: radial-gradient(ellipse at center,  #1c5f89 0%,#92b2c6 20%,#ffffff 70%);
    background-size: 2400px 1200px;
    background-position: center calc(-50% - 1250px);
    background-repeat: no-repeat;
}

.c-row--beta {
    background: radial-gradient(ellipse at center,  #1c5f89 0%,#92b2c6 20%,#ffffff 70%);
    background-size: 1200px 1200px;
    background-position: center calc(50% + 700px);
    background-repeat: no-repeat;
}

.c-row--gamma {
    background-color: palette(color-alpha,x-light);
}
