.c-superscript {
    position: relative;
    top: -.35rem;
    @include text-dimensions($ms-3,1);
}

.c-small {
    color: palette(color-neutral,x-dark);
    @include text-dimensions($ms-1,1);
}

.c-lead {
    @include text-dimensions($ms1,1.2);
}

.c-link-app {
    display: block;
    width: 169px;
    height: 50px;
    background-image: url('../img/app-store.svg');
    @include hide-text;
}

.c-measure {
    max-width: 27em;
}
